<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/company.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header>
        <div class="header-inner">
            <h1 class="logo">
                <a href="index.html">
                    <img src="public/image/logo.png" width="200" height="100" alt="VEX">
                </a>
            </h1>
            <nav>
                <ul>
                    <li><a href="company.html">会社案内</a></li>
                    <li><a href="recruit.html">採用情報</a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>