<!DOCTYPE html>
<html lang="ja">

<head>
    <dev class="uidesign">
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEX - ITによる世界平和の実現</title>
    </head>
<body>
    <header>
        <div class="header-inner">

            <h1 class="logo">
                <a href="index.html">
                    <img src="public/image/logo.png" width="200" height="100" alt="VEX">
                </a>
            </h1>
            <nav>
                <ul>
                    <li><a href="company.html">会社案内</a></li>
                    <li><a href="recruit.html">採用情報</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="mission">
            <span class="heading"><h2>企業目標</h2></span>
            <p>ITによる世界平和の実現</p>
        </section>

        <section id="news">
            <span class="heading">最近のニュース</span>
            <div class="news-list-box">
                <!--ニュース一覧表-->
                <table>
                    <tr>
                        <td>2031</td>
                        <th>SDGs全て解決</th>
                        <td>SDGsの16個のゴールを一社で全て解決は快挙！</td>
                    </tr>
                    <tr>
                        <td>2030</td>
                        <th>GAFAMに並ぶ</th>
                        <td>Googleや、Appleなどに並んでVEXが！！</td>
                    </tr>
                    <tr>
                        <td>2029</td>
                        <th>元クラスメイト3名入社</th>
                        <td>就職に失敗した元クラスメイト3名がお情けで入社！</td>
                    </tr>
                </table>
            </div>
        </section>
    </main>

<footer>
            <h2>企業SNS</h2>
            <div class="sns-icons">
                <a href="" class="sns-item">
                    <img src="public/images/X.png" alt="Xのアイコン">
                </a>
                <a href="" class="sns-item">
                    <img src="public/images/インスタ.png" alt="インスタのアイコン">
                </a>
                <a href="" class="sns-item">
                    <img src="public/images/TikTok.png" alt="TikTokのアイコン">
                </a>
                <a href="" class="sns-item">
                    <img src="public/images/LINE.png" alt="LINEのアイコン">
                </a>
            </div>
        </footer>
</dev>
</body>

</html>