header {
    background-color: #8b0000;
    padding: 40px 0;
}

body {
    background-color: black;
    color: white;
}

.header-inner {
    margin: 0 40px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav a {
    color: black;
    font-weight: 500;
}

th {
    background-color: #ada8a8;
    color: #000000;
    width: 300px;
    height: 80;

}

td {
    width: 800px;
    height: 80;
}

th, td {
   border:1px solid #333;
   font-size:20px;

}

.ceo-com {
    color: #8b0000;
    font-weight: bold;
}

.monny {
    color: #e6b422;
}

/* 見出しデザイン */
.heading {
    font-size: 25px;
    text-align: center;
    color: #ffd900;
  
}

table {
    border-collapse: collapse;
}
